<html>

    <head>
      <%= stylesheet_link_tag "media_links" %>
    </head>

    <div class="img-with-text">

      <% @links.each do |link| %>
        <td>
          <img src=<%= link.link %> \>
        </td>
      <% end %>
      <br>
      <div class ="enter-comment">
        <div class="form-group">
           <label for="exampleFormControlTextarea1"></label>
           <textarea class="form-control" id="exampleFormControlTextarea1" rows="3">Enter comment...</textarea>
         </div>
        <form action="/action_page.php" id="usrform">
          <input type="submit">
        </form>
        <br>
      </div>

      <div class ="comment-box">
        <table class="table table-hover">
        <% @comments.each do |com| %>
        <tr>
          <td>
            <%=com %>
          </td>
        </tr>
        <% end %>
       </div>
    </div>



</html>
