<form action='/media_links' class="form-inline" method="post">
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden" >
    <input type="file" name="myFile">
</form>
