<div class='container'>
  <h1 align="center">Dogs Galore</h1>
  <h1> <%= link_to 'Add New Pet', new_pet_path, class: 'btn btn-success btn-lg btn-block' %> </h1>
  <div class="row">
    <% @pets.each do |pet| %>
      <div class="col-s">
        <div>
          <% if pet.profile_pic != nil %>         
            <img style="height:200px" src=<%= pet.profile_pic %> >
          <% end %>
          <h2> <%= link_to pet.name, pet_path(id: pet.id) %> </h2>
          <p> <%= pet.breed %> </p>
        </div>
      </div>
    <% end %>
  </div>
</div>
