<div class='container'>
  <h3> Current Users </h3>
  <table class='table table-hover'>
    <thead>
      <tr>
        <th>User</th>
        <th>Picture</th>
        <th>Pets</th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td>
            <%= link_to user.username, user_profile_path(id: user.id) %>
          </td>
          <td>
            <% if user.profile_pic != nil %>
              <img style='height:200px' src=<%= user.profile_pic %> /> 
            <% end %>
          </td>
          <td>
            <% user.pets.each do |pet| %>
              <% if pet.profile_pic != nil %>
                <img style="height:200px" src=<%= pet.profile_pic %> />
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <tbody>
  </table>
</div>
