.match {
  position: absolute;
  width: 70%;
  height: 70%;
  top: 80px;
  left: 250px;
  background: white;
  z-index: 500;
  overflow: hidden;
  border-style: solid;
  border-width: 0.025em;
  border-color: black;


}
.puppy1 {
  border-radius: 25px;
  border: 2px solid #708090;
  width: 150px;
  height: 150px;
}

.puppy2 {
  border-radius: 25px;
  border: 2px solid #708090;
  width: 150px;
  height: 150px;

}

.vs {
  vertical-align: middle;
  font-size: 60px;
}

.grid-container {
  width: 100%;
  grid-template-columns: repeat(3, 1fr);

  display: inline-grid;
  grid-column-gap: 40px;
  grid-row-gap: 20px;
  /*padding: 50px;*/
  /*padding-left: 15cm;*/
}

.one {
  grid-column: 1;
  grid-row: 1;
  text-align: center;

}
.two {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
  text-align: center;
}
.three {
  grid-column: 4;
  grid-row: 4;
  text-align: center;
}

.puppyname1 {
  font-size: 30px;

}

.puppyname2 {
  font-size: 30px;
}

.header_vote {
  text-align: center;
}