.match {
  position: fixed;
  width: 40%;
  height: 45%;
  top: 80px;
  right: 30px;
  background: white;
  z-index: 500;
  overflow: hidden;
  border-style: solid;
  border-width: 0.025em;
  border-color: black;

}
.puppy1 {
  border-radius: 25px;
  border: 2px solid #708090;
  width: 150px;
  height: 150px;
}

.puppy2 {
  border-radius: 25px;
  border: 2px solid #708090;
  width: 150px;
  height: 150px;

}

.vs {
  vertical-align: middle;
  font-size: 60px;
  text-align: center;
}

.grid-container {
  width: 20%;
  grid-template-columns: repeat(3, 1fr);

  display: inline-grid;
  grid-column-gap: 40px;
  grid-row-gap: 20px;
  /* padding: 50px; */
  /* padding-left: 3cm; */
}

.one {
  grid-column: 1;
  grid-row: 1;
  text-align: center;

}
.two {
  grid-column: 2;
  grid-row: 1;
  text-align: center;

}
.three {
  grid-column: 3;
  grid-row: 1;
  text-align: center;
}

.puppyname1 {
  font-size: 30px;

}

.puppyname2 {
  font-size: 30px;
}

.header_vote {
  text-align: center;
}
