<%= javascript_pack_tag "application" %>

<style>
.bracket{
  display:flex;
  flex-direction:row;
  font-family:sans-serif;
  font-size:small;
  padding:10px;
  line-height:1.4em;
}
.round{
  display:flex;
  flex-direction:column;
  justify-content:center;
  width:200px;
  list-style:none;
  padding:0;
}
  .round .spacer{ flex-grow:1; }

  .round li:first-of-type,
  .round li:last-of-type{ flex-grow:.5; }

  .round .game-spacer{
    flex-grow:1;
  }

/*
 *  General Styles
*/

li.game{
  padding-left:20px;
}

  li.game.winner{
    font-weight:bold;
  }
  li.game span{
    float:right;
    margin-right:5px;
  }

  li.game-top{ border-bottom:1px solid #aaa; }

  li.game-spacer{ 
    border-right:1px solid #aaa;
    min-height:40px;
  }

  li.game-bottom{ 
    border-top:1px solid #aaa;
  }
</style>
<div class="bracket">
  <%= react_component('bracket', {}, prerender: false) %>
</div>