<html lang="en">
<head>

</head>
<body>
  <header class="v-header container">
    <div class="fullscreen-video-wrap">
     
      <%= video_tag "doggy_resize.mp4",  :controls => false, :autoplay => true, :loop => true %>
      </video>
    </div>

    <div class="header-overlay"></div>
    <div class="header-content">
      <h1 style="color:#D0D0D0;">TournaPets</h1><br>

      <p style="color:white;"> All your Instagram followers know your dog is extremely talented and cute. It's time to test that out!  </p>
      
      <%= link_to 'Start', about_path, class: 'btn' %>
     
    </div>

  </header>
</body>
</html>
