<div class='container'>
  <img src="https://s3.us-east-2.amazonaws.com/delta-final/jyoung1310762334.jpeg" alt='Puppy on Back'>
  <h2> You have voted for all current entries in this round. Check back later for more contestants. </h2>
<div>