<div class="container">
  <div class="blockquote text-center">
    <h1>What's Up With "App Name"?</h1>
  </div>
  <p>"App Name was created to provide pet owners a creative outlet when they are feeling that urge to show off how cool and unique their pets are. Pets can compete in fun challenges and owners can track their ranking leading up to a tournament. Tournaments will take the leaders for
  the current competition period and match them in a 16 player style tournament. Challenge and tournament winners build rank as they go. Have fun!</p>
  <div class="blockquote text-center">
    <h2>Meet the Team from Code Platoon - Delta Cohort</h2>
  </div>
  <div class="row align-items-start">
    <div class="col">
      <img class="rounded mx-auto d-block" src=<%=image_url("deja.jpg")%> alt="Pic of Deja" height="300" width="300">
      <h3 class="text-center">Deja</h3>
      <p>Deja is the coolest</p>
    </div>
    <div class="col">
      <img class="rounded mx-auto d-block" src=<%=image_url("alex.jpg")%> alt="Pic of Alex" height="300" width="200">
      <h3 class="text-center">Alex</h3>
      <p>Alex is the coolest</p>
    </div>
  </div>
  <div class="row align-items-end">
    <div class="col">
      <img class="rounded mx-auto d-block" src=<%=image_url("mickey.jpg")%> alt="Pic of Mickey" height="300" width="400">
      <h3 class="text-center">Mickey</h3>
      <p>Mickey is a Veteran turned Technology professional. He enjoys turning complex problems into simple, beautiful and intuitive interface designs. When he's not coding or pushing pixels, you’ll find him in the gym or along the lake shore running. He has been wearing many hats including Trader (Stock/Forex), Finance Guru (I do love $$$), and World Traveler ( > 40 countries around the world).</p>
    </div>
    <div class="col">
      <img class="rounded mx-auto d-block" src=<%=image_url("john.jpg")%> alt="Pic of John" height="300" width="250">
      <h3 class="text-center">John</h3>
      <p>Following graduation from the Naval Academy, John served as a Naval Flight Officer for eleven years. After leaving the military, he moved to the Chicago area and earned his MBA from the Kellogg School of Management at Northwestern University. John spent time in management consulting before deciding to follow his passion for tech at Code Platoon. </p>
    </div>
  </div>
</div>
