<h1>What's Up With "App Name"?</h1>
<p>"App Name was created to provide pet owners a creative outlet when they are feeling that urge to show off how cool and unique their pets are. Pets can compete in fun challenges and owners can track their ranking leading up to a tournament. Tournaments will take the leaders for
the current competition period and match them in a 16 player style tournament. Challenge and tournament winners build rank as they go. Have fun!</p>

<h2>Meet the Team from Code Platoon - Delta Cohort</h2>
<img src=<%=image_url("deja.jpg")%> alt="Pic of John" height="100" width="100">
<h3>Deja</h3>
<p>Deja is the coolest</p>

<img src=<%=image_url("alex.jpg")%> alt="Pic of John" height="100" width="100">
<h3>Alex</h3>
<p>Alex is the coolest</p>

<img src=<%=image_url("mickey.jpg")%> alt="Pic of John" height="100" width="100">
<h3>Mickey</h3>
<p>Mickey is the coolest</p>

<img src=<%=image_url("john.jpg")%> alt="Pic of John" height="100" width="100">
<h3>John</h3>
<p>Following graduation from the Naval Academy, John served as a Naval Flight Officer for eleven years. After leaving the military, he moved to the Chicago area and earned his MBA from the Kellogg School of Management at Northwestern University. John spent time in management consulting before deciding to follow his passion for tech at Code Platoon. </p>
