*{
box-sizing: border-box;
}

body{
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size:1rem;
  line-height:1.5;
  color:#333;
  overflow-x:hidden;
}

.v-header{
  height:90vh;
  display:flex;
  align-items:center;
  color: #fff;
}

.container{
  max-width:960px;
  padding-left:1rem;
  padding-righ:1rem;
  margin:auto;
  text-align: center;
}

.fullscreen-video-wrap{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100vh;
  overflow: hidden;
}

.fullscreen-video-wrap video{
  min-width:100%;
  min-height:100%
}

.header-overlay{
  height:100vh;
  width:100vw;
  position:absolute;
  top:0;
  left:0;
  background:#D3D3D3;
  z-index:1;
  opacity:0.10; 
}

.header-content{
  z-index:2;
}

.header-content h1{
  font-size:50px;
  margin-bottom:0;
}

.header-content p{
  font-size:1.5rem;
  display: block;
  padding-bottom:2rem;
}

.btn{
  background: #C0C0C0;
  color: #000000;
  font-size:1.2 rem;
  padding: 1rem 2rem;
  text-decoration: none;
}

.section{
  padding: 0px;
  background: #333;
  color: #fff;
}

@media(max-width:960px){
  .container{
    padding-right:3rem;
    position-left:3rem;
  }
}
