// Place all the styles related to the MediaLinks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.img-with-text {
  position: fixed;
  top: 20%;
  left: 30%;
  width: 50%;
  margin-left: -100px;

}


.comment-box {


}

.comment-image {

}

tbody {
    display:block;
    height: 180px;
    overflow:auto;
}
