*{
    margin:0;
    padding:0;
  }
  #cardWrapper{
    margin:50px;
  }
  #cardWrapper > img{
    height: 200px;
    width:300px;
    display: inline-block;
    vertical-align: middle;
  } 
  #cardContentContainer{
    width: 300px;
    height: 350px;
    background: #FFFAFA;
    padding: 20px;
    box-sizing: border-box;
  }

  #cardContentContainer > h2 {
    font-size:2em;
    font-weight:400;
    margin-bottom:20px;
  }

  #cardContentContainer > p{
    font-size:.9em;
    line-height:1.5;
    color: #757575;
  }


  * {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #F5F5F5;
}


.column {
    background-color: lightblue;
    float: left;
    width: 20%;
    padding: 100px;
    height: 700px; 
}


.columnPet {
    background-color: lightblue;
    float: left;
    width: 20%;
    padding: 100px;
    
}


.row:after {
    content: "";
    display: table;
    clear: both;
}

.center {
    margin: auto;
    width: 18%;
    border: 5px solid #708090;
    padding: 35px;
}
