<h1>Profile</h1>
<hr>
<h3> Username: <%= @user.username %> </h3>
<hr>
<h3>
  <a class="user_info" href="/user_info"> View Account Information </a>
</h3>


<h3>
    <a class="pet_user" href="/user_pets"> View All Pets </a>
</h3>
